@model QuoteGenerator.Models.Quote

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>

        <h1>@Model.Author</h1>
        <h2>@Model.Quotes</h2>
        <h2>@Model.Time</h2>
       
    </div>
  
</div>
